<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twendy</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page" class="container">

		<%= render "layouts/templates/background" %>
		<%= render "layouts/templates/header" %>

		<%= yield %>

		<%= render "layouts/templates/footer" %>

	</div>
</body>
</html>
